.board-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.board-container {
    position: relative;
    padding: 10px;
    width: 100%;
}

.board-container svg {
    max-width: 100%;
    max-height: 700px;
    position: relative;
}

.board-details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.board-details-item {
    padding: 15px 20px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #474747;
}

.board-details-item h1 {
    margin: 0px;
    padding-right: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 2px solid #474747;
}

.board-details-item h2 {
    margin: 0px;
    margin-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #747474;
}

.board-details-item span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 10px;
}

/* ###################################################################################### */

.board-header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    /* flex-direction: column; */
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 2;
    border-bottom-color: white;
    position: relative;
}

.board-header-item {
    padding: 15px 20px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #474747;
}

.city-details-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.city-details {
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
}

.board-header-item-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.board-header-item h1 {
    margin: 0px;
    padding-left: 5px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-right: 2px solid #474747; */
}

.board-header-item h2 {
    margin: 0px;
    margin-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #747474;
}

.board-header-item span, .board-header span {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* margin-left: 10px; */
}

.board-score-container {
    flex: 1;
}

.board-score-item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.board-score-item span {
    width: calc((100% - 200px) / 50);
    height: 20px;
    border-radius: 0px;
    background-color: #c60203;
    /* width: fit-content;
    height: fit-content;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    font-size: 18px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.board-score-item span.blue-span {
    background-color: #1c92d2;
}

.board-score-item span.is-egypt {
    width: calc((100% - 200px) / 28);
}

/* ###################################################################################### */

path {
    position: relative;
    transform-origin: center center;
    transform-box: fill-box;
    transition: 0.5s;
}

path:hover {
    stroke: white;
    stroke-width: 2px;
    opacity: 0.8;
    /* filter: url(#dropshadow); */
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.hovertext {
    position: absolute;
    background-color: #cecece;
}

.tooltip {
    position: absolute;
    background-color: #575656;
    color: white;
}